= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field.title
    %p
      = f.label :title, "目標の名前"
      %p.description
        目標に分かりやすい名前を設定しましょう。
    = f.text_field :title, :size => 20

  .field.detail
    %p
      =f.label :detail, "詳しい内容"
      %p.description
        他人から見ても分かりやすく、目標の内容を書きましょう。
    = f.text_area :detail, :cols => 40, :rows => 5

  .actions
    = f.hidden_field :user_id, :value => current_user.id
    = f.submit 'Save'
