.project
  %p.title
    = @project.title
    %span.progress= '20%'
  %p.detail
    = @project.detail

  %p.actions
    = link_to raw("#{image_tag('/images/edit.png', :size => '14x14')}編集する"), edit_project_path(@project)
    = link_to raw("#{image_tag('/images/delete.png', :size => '14x14')}削除する"), project_path(@project), :method => :delete, :confirm => '削除すると二度と復旧できません。本当に削除しますか？'



  .tasks
    - @project.tasks.each do |task|
      .task
        = task.title

    - form_for Task.new do |f|
      .description
        作業を設定する
      %table.fields
        %tr.field
          %th= f.label :title, '作業名'
          %td= f.text_field :title
        %tr.field
          %th= f.label :detail, '内容'
          %td= f.text_field :detail
      .actions
        = f.hidden_field :project_id, :value => @project.id
        = f.submit

