.project
  %p.title
    = @project.title
    %span.progress= '20%'
  %p.detail
    = @project.detail

  %p.actions
    = link_to raw("#{image_tag('/images/edit.png', :size => '14x14')}編集する"), edit_project_path(@project)
    = link_to raw("#{image_tag('/images/delete.png', :size => '14x14')}削除する"), project_path(@project), :method => :delete, :confirm => '削除すると二度と復旧できません。本当に削除しますか？'



  .tasks
    %h3 作業一覧
    - @project.tasks.each do |task|
      .task
        %span.task_name= task.title
        %span.done{:class => task.done? ? '' : 'not_yet'}
          = task.done? ? image_tag('/images/success.png', :size => '16x16') : '未完成'
        %span.delete= link_to '削除する', task, :method => :delete, :confirm => '一度削除すると二度と復旧できません。削除しますか？'

    - form_for [current_user, @project, Task.new] do |f|
      .description
        作業を設定する
      %table.fields
        %tr.field
          %th= f.label :title, '作業名'
          %td= f.text_field :title
        %tr.field
          %th= f.label :detail, '内容'
          %td= f.text_field :detail
      .actions
        = f.submit

  .comments
    - @project.comments.each do |comment|
      .comment
        = comment.body
        ~ ' | '
        = comment.user.name

    - form_for [current_user, @project, Comment.new] do |f|
      .description
        コメントする
      = f.text_field :body
      .actions
        = f.submit
