!!!
%html
  %head
    %title Growup
    = stylesheet_link_tag :all
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'
    = javascript_include_tag :all

    = csrf_meta_tag

  %body
    .header
      %h1
        growup
        %span beta
      .user_info
        - if current_user
          = link_to current_user.name, current_user
          = link_to 'logout', logout_path

    .contents
      #left_col
        - if current_user
          = render :partial => 'shared/sidebar_logined'
        - else
          = render :partial => 'shared/sidebar_register'

      #right_col
        = yield
